body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

/* Add padding to container_registers */
.container_register {
    border-radius: 10px;
    margin: 15px 10px;
    padding: 16px 25px;
    background-color: white;
    width: 80%;
    margin: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Full-width input fields */
input[type=text],
input[type=email],
input[type=file],
input[type=number] {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
#loginClassSelect:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=file]:focus,
input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}
/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.divOfButton{
    display: flex;
    justify-content: center;
}
/* Set a style for the submit button */
.registerbtn {
    font-size: 20px;
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 180px;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}
#loginClassSelect {
    width: 100%;
    background: #f1f1f1;
    padding: 12px 10px;
    font-size: 15px;
    border: none;
    margin: 8px 0 22px 0;
}
@media only screen and (max-width: 780px) {
    #loginClassSelect,
    input[type=text],
    input[type=email],
    input[type=file],
    input[type=number] {
        width: 100%;
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;
    }
}